<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Facebook - Signed request generator</title>
    <meta name="description" content="generate valid signed requests for testing with facebook.">
    <meta name="author" content="daniel portella">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/fbsrg.css" rel="stylesheet">
  </head>

  <body>
  <a href="https://github.com/dmportella/Facebook-Sign-Request-Generator"><img style="position: absolute; top: 0; left: 0; border: 0;z-index:1234567890;" src="https://a248.e.akamai.net/assets.github.com/img/5d21241b64dc708fcbb701f68f72f41e9f1fadd6/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
   <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">FB SRG</a>
          <ul class="nav">
            <li class="active"><a href="#">Generator</a></li>
            <li><a href="https://github.com/dmportella/Facebook-Sign-Request-Generator">Source</a></li>
          </ul>
        </div>
      </div>
    </div>

     <div class="container">
        <div class="content">
          <%- body %>
        </div>
    </div> 
    <hr />
    <footer>
        <p>&copy; dmportella 2012</p>
    </footer> 
</body>
</html>
